In [1]:
 import pandas as pd

In [2]:
df=pd.read_csv(r'C:\Users\KIIT\MACHINE LEARNING\Insurance.csv')

In [3]:
df

   Age  Premium
0   25    18000
1   30    32000
2   35    40000
3   40    47000
4   45    55000

In [4]:
x=df['Age']

In [5]:
y=df['Premium']

In [6]:
x

0    25
1    30
2    35
3    40
4    45
Name: Age, dtype: int64

In [7]:
y

0    18000
1    32000
2    40000
3    47000
4    55000
Name: Premium, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [10]:
x_train

4    45
3    40
0    25
1    30
Name: Age, dtype: int64

In [11]:
x_test

2    35
Name: Age, dtype: int64

In [12]:
y_train

4    55000
3    47000
0    18000
1    32000
Name: Premium, dtype: int64

In [13]:
y_test

2    40000
Name: Premium, dtype: int64

In [14]:
len(x_train)

4

In [15]:
len(y_test)

1